extends layout

block content
  .container
    .jumbotron
      .container 
        h1 Server Automation using Jenkins 1
        p it is a sample text notting more .
        p it is another sample text .
        a.btn.btn-primaty.btn-lg(href="#") Show More &raquo;
